.mypage-inner {
    margin: 50px 10vw;
    /* padding: 10px; */

}

#user-data {
    display: flex;
    justify-content: space-between;
}
.user-left {
    width: 50%;
}
.user-image {
    width: 80%;
    height: auto;
    margin: 0 auto;
}
.user-image img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.user-document {
    margin: 30px auto;
    width: fit-content;
    padding: 0.5em 1.5em;
    background-color: black;
    border-radius: 3em;
}

.user-document a {
    font-size: 1.5em;
    color: white;
}

.user-text {
    width: 50%;
    height: auto;
    margin-left: 100px;
}



.user-text table tr td:first-child {
    padding-right: 30px;
}

.update-button {
    margin: 20px auto 50px;
    width: fit-content;
    height: auto;
}

.update-button a {
    display: block;
    border: 0.11em solid #011627;
    background-color: #011627;
    color: white;
    padding: 0.333em 1em 0.25em;
    font-size: 1.5em;
    border-radius: 1em;
    line-height: 1.2em;
}

.update-button a:hover {
    background-color: white;
    color: #011627;
    transition: .3s;

}

.favoriteJobs-subtitle {
    
}